.catalog-button {
    width: 150px;
    // margin: 0 auto;
    border-radius: 25px;
    border: 1px solid #D8D8D8;
    padding: 13px 0;
    font: inherit;
    font-weight: 700;
    position: relative;
    margin-top: 60px;
    &--less {
        display: none;
    }
    &::after {
        content: "";
        display: block;
        background-image: url(../img/arrow.svg);
        position: absolute;
        width: 6px;
        height: 18px;
        top: 50%;
        right: 26px;
        transform: translateY(-50%);
    }
    
}