$basic-black: #363636;
$basic-white: #FFFFFF;
$basic-green: #45852D;
$card-background-grey: #F8F8F8;
$independent-color: #006F79;
$support-color: #EC6608;
$filter-input-border: #D8D8D8;
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;