.catalog-button-container {
    box-sizing: border-box;
    width: 100%;
    margin-top: 60px;
    @media (min-width: $desktop-width) {
        padding-left: 502px;
        padding-right: 528px;
    }
}
