.catalog {
    margin-bottom: 60px;
}

.catalog__form {
    margin-bottom: 45px;
}

.catalog__list {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 38px;
    @media (min-width: $tablet-width) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }
    @media (min-width: $desktop-width) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 22px;
    }
}

.catalog__item {
    box-sizing: border-box;
    width: 280px;
    // @media (min-width: $tablet-width) {
    //     width: 377px;
    // }
    @media (min-width: $desktop-width) {
        width: 377px;
    }
    // margin-right: 22px;
    // &:nth-child(3n) {
    //     margin-right: 0;
    //   }
}
