.catalog-name {
    line-height: 49.03px;
    font-size: 36px;
    text-align: center;
    color: $basic-green;
    margin-bottom: 55px;
    // @media (min-width: @tablet-width) {
    //   margin-bottom: 176px;
    //   padding-top: 0;
    //   padding-bottom: 0;
    // }
  }