.filter-form__label {
    font-weight: 700;
    line-height: 24px;
    margin-right: 14px;
}

.filter-form__input {
    width: 200px;
    min-height: 50px;
    border: 1px solid $filter-input-border;
    box-sizing: border-box;
    border-radius: 25px;

    @media (min-width: $tablet-width) {
        width: 418px;
    }
}

//boxshadow
//eliminate border-top inputs